:root{
    /* font styles */
    --plain-text: 'Abel', sans-serif;
    --header-text: 'Anton', sans-serif;

    /* color palette */
    --bg-custom-page: #F0F0F0;
    --bg-custom-card-border: #E6E6E6;
    --custome-boarder-circle-color: #FFF;
    --bg-custom-design-color: #E6563B;
    --bg-custom-develop-color: #EB9D3A;
    --bg-custom-support-color: #7CB06C;
    --bg-custom-host-color: #00ABA9;

    /* custom width and height */
    --logo-w-h: 105px;
    --icons-w-h: 18px;
}

body{
    background-color: var(--bg-custom-page);
}


p, table, li, ul, a{
    font-family: var(--plain-text);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--header-text);
    text-align: center;
}

.project-Logo {
    width: var(--logo-w-h);
    height: var(--logo-w-h);
}

.custom-nav-text {
    font-size: 2em;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}
