:root{
    /* font styles */
    --plain-text: 'Abel', sans-serif;
    --header-text: 'Anton', sans-serif;

    /* color palette */
    --bg-custom-page: #F0F0F0;
    --bg-custom-card-border: #E6E6E6;
    --custome-boarder-circle-color: #FFF;
    --bg-custom-design-color: #E6563B;
    --bg-custom-develop-color: #EB9D3A;
    --bg-custom-support-color: #7CB06C;
    --bg-custom-host-color: #00ABA9;

    /* custom width and height */
    --logo-w-h: 53px;
    --icons-w-h: 22px;
}

body{
    background-color: var(--bg-custom-page);
}


p, table, li, ul, a{
    font-family: var(--plain-text);
}

h1, h2,  span{
    font-family: var(--header-text);
    text-align: center;
}
h3, h4, h5, h6{
    font-family: var(--header-text);
    text-align: left;
}

.fi {
    width: 100%;
    aspect-ratio: 3/2;
    border: .50em solid var(--bg-custom-card-border);
}

.custom-small-image{
    width: 100%;
    aspect-ratio: 1/1;
    border: .25em solid var(--bg-custom-card-border);
}

.custom-max-height{
    height: 100%;
}

.project-Logo {
    width: var(--logo-w-h);
    height: var(--logo-w-h);
}

.custom-nav-text {
    font-size: 2em;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}

.custom-circle{
    width: 105px;
    height: 105px;
    border: .50em solid var(--custome-boarder-circle-color);
    font-weight: bold;
}
.custom-circles-small{
    font-family: var(--header-text);
    width: var(--icons-w-h);
    height: var(--icons-w-h);
    font-weight: bold;
}

.custom-design{
    background-color: var(--bg-custom-design-color);
}
.custom-develop{
    background-color: var(--bg-custom-develop-color);
}
.custom-support{
    background-color: var(--bg-custom-support-color);
}
.custom-host{
    background-color: var(--bg-custom-host-color);
}

.custom-center-row{
    width: 300px;
}

.custom-font{
    font-size: .80em;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .custom-center-row{
        width: 600px;
    }
}

